.widgets-class {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 150px;
    gap: 16px;
}
.menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    margin-top: 40px;
    z-index: 1000;
  }
  
  .menu button {
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: #f0f0f0;
  }
  